<table border="1">
    <thead>
    <tr>
        <td>trip</td>
        <td>distance</td>
        <td>measure interval</td>
        <td>avg speed</td>
    </tr>
    </thead>
    <tbody>
    <?php if ($this->report): ?>
        <?php /** @var \Application\DTO\Trip $dto */ ?>
        <?php foreach ($this->report as $dto): ?>
            <tr>
                <td><?= $dto->getName() ?></td>
                <td align="right"><?= $dto->getDistance() ?></td>
                <td align="right"><?= $dto->getMeasureInterval() ?></td>
                <td align="right"><?= $dto->getAvgSpeed() ?></td>
            </tr>
        <?php endforeach ?>
    <?php endif ?>
    </tbody>
</table>